* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}


/* Header */
.header {
    /* display: flex; */
    grid-row: 1 / 2;
    /* border: 2px solid red; */
    padding-right: 20px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 20px;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.row1,
.row2 {
    display: flex;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.right {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 20px;
}

.right button {
    padding: 5px 20px;
    border-radius: 10px;
}

.greet {
    display: flex;
    flex-direction: column;
}

.greet p {
    margin: 0;
}

.paraname {
    font-size: 40px;
}

.header img {
    width: 20px;
}

.header .profile {
    width: 50px;
    border-radius: 100%;
}

input {
    width: 400px;
    border-radius: 10px;
    color: black;
    opacity: 1;
}


/* Side bar */
.sidebar {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    /* border: 2px solid blue; */

    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    padding-left: 20px;
}

.sidebar .logo,
.set {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    /* margin-left: 5px; */
}

.set:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.sidebar .item1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.sidebar img {
    width: 20px;
    height: auto;
}

.logo img {
    width: 80px;
}


/* Main */
.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(247, 247, 247);
}

.yourprojects {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

.yourprojects p {
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 20px;
}

.project {
    width: calc(50% - 50px);
    height: 170px;

    background-color: white;
    border-radius: 10px;
    padding: 20px;
    border-left: 6px solid #ffb5ab;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.footer {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.extra {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.extra .title {
    font-size: 30px;
    font-weight: bold;
    /* margin-left: 10px; */
}

.extra .box {
    /* margin-left: 10px; */
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
    height: 65%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    background-color: white;
}





/* COLOUR */
.sidebar,
button {
    background-color: #e39A7b;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

button:hover,
button:focus {
    background-color: #aa4c24;
    transform: translateY(-1px);
}

input {
    background-color: rgb(169, 163, 163);
    opacity: 50%;
    /* border: 2px solid black; */
    padding-left: 10px;
    font-size: 15px;
}

input:hover,
input:focus {
    opacity: 1;
    background-color: rgb(206, 199, 199);

}

.sidebar a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    gap: 10px;
}

.sidebar .logo p {
    font-size: 25px;
}

.sidebar img {
    color: white;
}